


.container{
    margin-left:20px;
    margin-right:20px;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
}

.item-container{
    display:flex;
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.input {
    width: 80%;
    input {
        padding: 0 10px;
        text-align: left;
        transition-property: box-shadow, background;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        background-color: gray;
        border-width: 2px;
        border-style: solid;
        border-color: #DAE3F3;
        border-radius: 0px;
        color: #272C34;
        width: 100%;
        cursor: text;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        font-size: large;
        font-weight: bold;
        font-style: normal;
        height: 50px;

        :hover {
            box-shadow: 0px 2px 4px rgb(39 44 52 / 12%);
        }

        :focus {
            transition-property: border-color, box-shadow, background;
            border-color: #39414D;
            outline: 0px;
            box-shadow: 0 0 0 3px #c5d2e7;
        }
    }

}